* {
  padding: 0;
  margin: 0;
  /* color: #FF7F99;
   color: #FFCA41;*/
  font-family: 'Jost', sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  height: 9vh;
  background-color: #FF7F99;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.WeHelp{
  color: antiquewhite;
  font-weight: bold;
  font-size: 3vh;
}
.You{
  color:#FFCA41;
  font-weight: bold;
  font-size: 3vh;
}
.headerRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40%;
  width: 40vw;
  color: antiquewhite;
  font-size: 2vh;
}
/*.login{
  display: flex;
  justify-content: space-between; 
}*/
.buttonLogin{
  border-radius: 20px;
  border-color: #FFCA41;
  width: 10vw;
  height: 4vh;
  background-color: #FF7F99;
  color: antiquewhite;
  font-size: 2vh;
  align-items: center;
}